body {
    background-color: #a9e8dc;
    color: #333333;
} 

header {
    margin: 32px auto;
}

main {
    margin: 16px auto;
    border: 2px solid #02bec4;
    padding: 12px;
    width: 720px;
    background-color: #e1f7e6;
} 

hr {
    border: 1px solid #0285a5;
}